<section id="about" class="indented dark-on-light">
  <header>
    <h2>Our Mission</h2>
    <p>{{ site.data.about.mission }}</p>
  </header>
  <br />
  <hr />
  <ul class="indented about-actions">
    {% for item in site.data.about.links %}
    <li class="about-action width-third">
      <a href="{{item.url}}">
        <img alt="About Icon" aria-hidden="true" src="{{item.image}}" />
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </a>
    </li>
    {% endfor %}
  </ul>  
</section>
